.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }
}

$color: #acd1b6;

.btn {
  display: inline-block;
  //padding: .75rem 1.25rem;
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  padding: .25rem 1.25rem;
  border-radius: 0.25rem;
  color: #202020;
  //text-transform: uppercase;
  font-size: 1rem;
  //letter-spacing: .1rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    border-radius: .25rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($color, 15%);
    transition: all .3s;
    border-radius: .25rem;
    z-index: -1;
  }
  &:hover {
    color: #202020;
    &:before {
      width: 100%;
    }
  }
}
@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
